*{
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}
body{
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(assets/images/cursor-cat-default.png), auto;
}
main{
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    min-width: 28%;
    text-align: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.personal-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-picture{
    width: 100px;
}
.my-name{
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}
.location{
    color: hsl(75, 94%, 57%);
        font-size: 18px;
        font-weight: bold;
        font-weight: 600;
        padding-bottom: 20px;
}
.me{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 300;
}
.link-container{
    all: unset;
    width: 100%;
    text-align: center;
}
.link{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 17px;
    border-radius: 7px;
    font-weight: 500;
}
.link:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
    cursor: url(assets/images/cursor-cat-hover.png), auto;
}
.link:hover a{
    color: hsl(0, 0%, 8%);
    font-weight: 700;
    cursor: url(assets/images/cursor-cat-hover.png), auto;
}
